.boas-vindas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-radius: 7px;
    border-color: #E91E2C;
    margin: auto;
    height: 150px;
    width: 50%;
    background-color: #faf8ef;
}

.saudacoes {
    text-align: center;
}


.valores {
    text-align: center;
    padding-top: 0.5em;
}

.valor {
    color: green;
}


.ifinan {
    border-style: solid;
    border-radius: 8px;
    border-color: #E91E2C;
    margin-top: 2em;
    background-color: #fff;

}

.icones1 {
    color: #E91E2C;
}

.mesInfo {
    display: flex;
}

.avaliacao {
    border-style: solid;
    border-radius: 7px;
    border-color: #E91E2C;
    margin: auto;
    width: 25vw;
    background-color: #faf8ef;
}

.atualizacoes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
}

.avaliacoes {
    list-style: none;
    margin-top: 20px;
}

.estadoLoja {
        border-style: solid;
        border-radius: 7px;
        border-color: #E91E2C;
        width: 20%;
        height: 150px;
        background-color: #faf8ef;
}

.faturamentoDoDia {
    border-style: solid;
    border-radius: 7px;
    border-color: #E91E2C;
    height: 150px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coments {
    margin-top: 2px;
}

.like {
    color: green;
}

.dislike {
    color: red;
}

.estrela {
    color: rgb(204, 204, 23);
}

.scrollable-dropdown {
    max-height: 200px;
    /* Defina a altura que preferir */
    overflow-y: auto;
}


@media (max-width: 460px) {
    
    .boas-vindas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-style: solid;
        border-radius: 7px;
        border-color: #E91E2C;
        height: 150px;
        width: 100%;
        background-color: #faf8ef;
    }

    .saudacoes h1 {
        font-size: 23px;
    }

    .img-food img {
        width: 80%;
    }


    .avaliacao {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-style: solid;
        border-radius: 7px;
        border-color: #E91E2C;
        width: 100%;
        background-color: #faf8ef;
    }

    .estadoLoja {

        width: 100%;
    }

    .atualizacoes {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }

    .faturamentoDoDia {
        width: 100%;
    }

    .faturamentoDoDia h5 {
        font-size: 23px;
    }
}