.quadro{
    border-style: solid;
    border-radius: 8px;
    border-color: #E91E2C;
    margin-top: 2em;
    background-color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  border-radius: 10%;
  width: 10px;
  height: 10px;
}

.carousel-indicators [data-bs-target] {
  background-color: black; 
}

.carousel-indicators .active {
  background-color: black;} 

.titulocarousel{
  display: flex;
  justify-content: center;
  align-items: center; 
}

@media (max-width: 500px) {
  
}

@media (min-width: 900px) {
  .quadro {
  display: none;
  }
}

.ticker-wrap {
  overflow: hidden;
  background: #faf8ef;
  color: #000;
  padding: 10px 0;
  border-radius: 5px;
  border-style: solid;
  border-color: #E91E2C;
  position: relative;
}

.ticker {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  animation: ticker 15s linear infinite;
  width: 2000px

}

.ticker-item {
  padding: 0 2rem;
  font-size: 1.2rem;
  flex: 0 0 auto;
}

@keyframes ticker {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.positivos{
  color: green;
}

.carousel-control-prev,
.carousel-control-next {
  /* Ajusta o espaçamento das setas de navegação */
  margin-left: 0px; /* Ajusta a margem esquerda da seta anterior */
  margin-right: 0px;
  width: 1em; /* Ajusta a margem direita da seta próxima */
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-indicators {
  bottom: 0px;
  height: 2px; /* Ajusta a distância do fundo do carrossel */
}

.carousel-indicators button {
  /* Ajusta o tamanho e a forma dos botões de indicador, se necessário */
  width: 10px;
  height: 2px;
  margin: 0 3px; /* Ajusta o espaçamento entre os indicadores */
}

.graficos{
  margin-bottom: 20px;
}

.relatorio {
  background-color: #ffff;
  border: 2px solid #E91E2C;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box; 
}
.corpo {
  padding: 20px;
}

.expandir{
  text-align: end;
  margin-top: 1em;
  color: #E91E2C;
  text-decoration: underline;
}

@media (max-width: 900px){
  .corpo{
    display: none;
  }
}

.quadrocarousel{
  padding: 20px;
}