
.saldo{
    border-style: solid;
    border-radius: 7px;
    border-color: #E91E2C;
    margin: auto;
    width:15em;
    background-color: #faf8ef;
}

.valores {
    text-align: center;
    padding-top: 0.5em;
}

.valor{
    color:green;
}

.icones1{
    color: #E91E2C;
}